body {
  font-family: "Montserrat", sans-serif;
}

.login__section {
  background-image: url("../img/login-bg.jpg");
  height: 100vh;
}

.logo__light {
  margin-bottom: 50px;
  display: block;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  text-align: end;
}

.input {
  position: relative;
  margin-bottom: 20px;
  display: flex;
}

.inputs {
  background: none;
  font-size: 14px;
  padding: 13px 51px;
  color: white;
}
.inputs:focus {
  background: none;
  outline: none;
}
.inputs::placeholder {
  color: white;
  text-transform: uppercase;
}

.login__labels {
  position: absolute;
  top: 13px;
  left: 15px;
  height: 20px;
  width: 20px;
}

.password__box {
  margin-bottom: 34px;
}

.submit__btn {
  width: 100%;
  color: #0d75ff;
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;
}

.forgot {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.wrong__user {
  padding: 0;
  color: #ed4956;

  text-align: start;
}
