body {
  font-family: "Rubik", sans-serif;
  background: #f8fafd;
}

.sytes__navbar {
  padding: 11px 40px 11px 25px;
  background: white;
  margin-bottom: 1px;
}

.navbar__logo {
  margin-right: 56px;
}

.search__input-box {
  position: relative;
}

.search__icon {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 17px;
}
.search__input {
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding: 17px 48px;
  width: 670px;
  color: rgba(0, 0, 0, 0.24);
  border: 1px solid #ced4da;
}

.search__input:focus {
  background: #f8fafd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
}

.logout {
  font-size: 16px;
  line-height: 19px;
  padding: 10px 23px;
}

.result__number-box {
  background: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #222531;
  padding: 11px 40px 11px 306px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  margin: 0 2px 2px;
  align-items: center;
}

.newest__btn {
  background: #a6b0c3;
  border-radius: 4px;
  padding: 5px 13px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.newest__icon {
  margin-right: 5px;
}

/* Bookmarks */

.bookmarks__box {
  background: white;
  width: 268px;
  padding: 25px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.bookmark__text-primary {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 5px;
}
.bookmark__text-secondary {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 25px;
}

.bookmark__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bookmark__item {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background: #f8fafd;
  border-radius: 4px;
  margin-bottom: 15px;
  align-items: center;
}

.bookmark__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.bookmark__authors {
  font-size: 13px;
  line-height: 18px;
  color: #757881;
}

.bookmark__btn {
  background: none;
  border: none;
}
.bookmark__btn::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.read__book-btn::before {
  background-image: url("./../img/openbook-icon.png");
}

.delete__book-btn::before {
  background-image: url("./../img/deletebook-icon.png");
}

/* RESULT */

.books__container {
  display: flex;
}

.results__box {
  padding: 40px;
}

.books__list {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-bottom: 33px;
}

.books__item {
  width: 282px;
  padding: 13px 15px;
  background: white;
}

.books__card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__img-box {
  padding: 18px 24px;
  background-color: #f8fafd;
  margin-bottom: 19px;
}

.book__img {
  height: 202px;
  width: 202px;
  border-radius: 5px;
}

.card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  /* flex-grow: 1; */
}

.book-year {
  flex-grow: 1;
}

/* CARD-BUTTONS */
.buttons {
  flex-direction: column;
  text-align: end;
}
.bookmark__add-btn {
  border: none;
  background: #ffd80d;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 26px;
  color: #000000;
  margin-bottom: 5px;
}

.more__btn {
  background: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 28px;
  border: none;
  color: #0d75ff;
  margin-bottom: 5px;
}

.read__btn {
  padding: 10px 105px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: #75828a;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.read__btn:hover {
  color: #ffffff;
}

/* CARD FONTS */

.card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 2px;
}

.book-author {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0;
  color: #757881;
  font-family: "Noto Sans", sans-serif;
}

.book-year {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #757881;
  font-family: "Noto Sans", sans-serif;
}

/* PAGINATION */

.pagination {
  max-width: 700px;
}

.pagination__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: auto;
}
.pagination__page:not(:last-child) {
  margin-right: 8px;
}

.pagination__buttons::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.prev-btn::before {
  background-image: url("./../img/prev.png");
}

.next-btn::before {
  background-image: url("./../img/next.png");
}

.pagination__buttons {
  border: none;
  background: #919eab;
  opacity: 0.5;
  border-radius: 4px;
  height: 32px;
  width: 32px;
  margin: 0 8px;
}

.pagination__page {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #dfe3e8;
  height: 32px;
  width: 32px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #0d75ff;
}
.pagination__page-num {
  border: none;
  text-decoration: none;
  padding: 0;
}

/* MODAL */

.info__modal {
  position: absolute;
  top: 0;
  right: 115px;
  width: 552px;
  min-height: 100%;
  background: white;
  z-index: 10;
  transition: all 0.5s;
}

.modal__top {
  background: #f8fafd;
  padding: 22px 33px;
}

.modal__body {
  padding: 44px 46px;
}

.modal__image-box {
  text-align: center;
  margin-bottom: 51px;
}

.modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #222531;
}

.close__modal {
  color: #58667e;
  font-size: 25px;
  background: none;
  border: none;
}

.modal__book-info {
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #58667e;
  margin-bottom: 50px;
}

.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__item {
  display: flex;
  align-items: center;
}

.modal__bottom {
  background: #f8fafd;
  padding: 15px 20px;
  text-align: end;
}

.modal__read-btn {
  background-color: #75828a;
  padding: 10px 38px;
  display: inline-block;
  justify-content: end;
}

.info__labels {
  margin-right: 20px;
}

.authors__value {
  align-items: center;
  /* display: flex; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.modal__values {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 20px;
  color: #0d75ff;
  background: rgba(13, 117, 255, 0.09);
  border-radius: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.actived__page {
  border: 1px solid #0d75ff;
}
